@ui-accordion-title-font-size: var(--ui-text-medium);
@ui-accordion-text-font-size: var(--ui-text-default);
@ui-button-border-radius: var(--ui-input-height-large);
@ui-map-user-position-color: var(--color-primary);
@ui-select-value-font-weight: var(--ui-font-weight-medium);
@ui-select-background-color: var(--ui-color-surface);
@ui-input-background-color: var(--ui-color-bg);
@ui-typeahead-input-list-bg: var(--ui-color-bg);
@ui-typeahead-input-list-border-radius: var(--ui-border-radius-small);
