:root {
	--this-is-ui-root-css: 1;
	--color-primary:#009255;
	--color-primary-text:#009255;
	--color-text-on-primary:#fff;

	--color-secondary: #2326f8;
	--color-secondary-text:#2326f8;
	--color-text-on-secondary:#fff;

	--color-green: #009255;
	--color-blue: #2326f8;
	--color-light-blue: #04c1ff;
	--color-red: #d92450;
	--color-yellow: #fff832;
	--color-orange: #fcc452;
	--color-beige: #fef5e6;
	--color-error: var(--color-red);

	@color-gray: #f1f1f1;
	--color-gray: @color-gray;
	--color-gray-lighten-1: lighten(@color-gray, 2%);
	--color-gray-lighten-2: lighten(@color-gray, 4%);
	--color-gray-lighten-3: lighten(@color-gray, 6%);
	--color-gray-darken-1: darken(@color-gray, 2%);
	--color-gray-darken-2: darken(@color-gray, 4%);
	--color-gray-darken-3: darken(@color-gray, 6%);

	// Social media
	--color-facebook: #3b5998;
	--color-twitter: #00aced;
	--color-google: #D44132;
	--color-draugiem: #E64D0A;
	--color-instagram: #517fa4;
	--color-youtube: #C42013;
	--color-vk: #45668e;
	--color-linkedin: #0077B5;

	// Padding
	--space-3xl: @space-3xl;
	--space-2xl: @space-2xl;
	--space-xl: @space-xl;
	--space-l: @space-l;
	--space-m: @space-m;
	--space-s: @space-s;
	--space-xs: @space-xs;

	// Misc
	--content-width: @content-width;
	--border-radius: @ui-border-radius;

	// Input
	--input-height-2xl: @input-height-2xl;
	--input-height-xl: @input-height-xl;
	--input-height-l: @input-height-l;
	--input-height-m: @input-height-m;
	--input-height-s: @input-height-s;
	--input-height-xs: @input-height-xs;

	// Font
	--font-text: @font-text;
	--font-header: @font-header;
	--font-mono: @font-mono;

	// Text size
	--text-2xl: @text-2xl;
	--text-xl: @text-xl;
	--text-l: @text-l;
	--text-m: @text-m;
	--text-s: @text-s;
	--text-xs: @text-xs;
}